version: '3.8'

services:
  # Helios API - Backend Core (v3.5.2)
  api:
    build:
      context: .
      dockerfile: Dockerfile.api.txt
    container_name: it-asset-360-api
    hostname: api
    restart: always
    environment:
      - DB_SERVER=10.10.10.100
      - DB_PORT=1433
      - DB_DATABASE=ITAsset360
      - DB_USER=sa
      - DB_PASSWORD=#41nhAsa#@@2
      - PORT=5000
      - NODE_ENV=production
    networks:
      - helios-net

  # Helios App - Frontend & Nginx Proxy (v3.5.2)
  app:
    build:
      context: .
      dockerfile: Dockerfile.txt
    # Removido 'image:' para evitar erro de 'Pull Access Denied' no Portainer
    container_name: it-asset-360-app
    restart: unless-stopped
    ports:
      - "8083:80"
    environment:
      - NODE_ENV=production
    depends_on:
      - api
    networks:
      - helios-net

networks:
  helios-net:
    driver: bridge