version: '3.8'

services:
  # Backend API (Node.js)
  api:
    build:
      context: .
      dockerfile: Dockerfile.api.txt
    container_name: it-asset-360-api
    hostname: api # Importante para o Nginx encontrar http://api:5000
    ports:
      - "5001:5000" # Porta 5002 conforme solicitado
    environment:
      - DB_SERVER=10.10.10.100
      - DB_PORT=1433
      - DB_DATABASE=ITAsset360
      - DB_USER=sa
      - DB_PASSWORD=#41nhAsa#@@2
      - PORT=5000
    networks:
      - it-asset-net

  # Frontend Application (React + Nginx)
  app:
    build:
      context: .
      dockerfile: Dockerfile.txt
    image: it-asset-new:latest
    pull_policy: build
    container_name: it-asset-360-app
    restart: unless-stopped
    ports:
      - "8083:80"
    environment:
      - NODE_ENV=production
    depends_on:
      - api
    networks:
      - it-asset-net

networks:
  it-asset-net:
    driver: bridge