# Configurações de Banco de Dados
DB_USER=
DB_PASSWORD=
DB_SERVER=
DB_DATABASE=

# MariaDB (Opcional)
MARIADB_HOST=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=

# JWT
JWT_SECRET=

# Geocodificação (Opcional - Padrão é Nominatim)
# Se tiver servidor local (ex: Photon), coloque aqui
GEOCODER_URL=https://nominatim.openstreetmap.org/search
